td {
    height: 25px;
    width: 95px;
}

table,
td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

label {
    margin-right: 5px;
    margin-left: 5px;
}

.content {
    display: flex;
    justify-content: center;
}

.but {
    display: flex;
    justify-content: center;
}

.but input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#myDynamicTable {
    display: flex;
    justify-content: center;
}
